<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/medi.css" />
  <title>Meditation App</title>
</head>

<body>
  <div class="app1">
    <div class="vid-container">
      <video loop>
        <source src="/videos/rain.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container" style="padding: 0;margin: 0;">
      <div class="row">
    <div class="time-select">
      <div class="col">
      <button data-time="120">2 Minutes</button>
      </div>
      <div class="col">
      <button data-time="300" class="medium-mins">5 Minutes</button>
      </div>
      <div class="col">
      <button data-time="600" class="long-mins">10 Minutes</button>
      </div>
    </div>
      </div>
    </div>
  </div>
  <div class="app">
    <div class="sound-picker">
      <button data-sound="/sounds/3.mp3" data-video="/videos/rain.mp4"><img src="/svg/beach.svg" alt=""></button>
      <button data-sound="/sounds/beach.mp3" data-video="/videos/beach.mp4"><img src="/svg/rain.svg" alt=""></button>
    </div>
    <div class="player-container">
      <audio class="song">
        <source src="/sounds/3.mp3" />
      </audio>
      <img src="/svg/play.svg" class="play"></img>
      <svg class="track-outline" width="453" height="453" viewBox="0 0 453 453" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="226.5" cy="226.5" r="216.5" stroke="white" stroke-width="20" />
      </svg>
      <svg class="moving-outline" width="453" height="453" viewBox="0 0 453 453" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="226.5" cy="226.5" r="216.5" stroke="#018EBA" stroke-width="20" />
      </svg>
      <img src="/svg/replay.svg" class="replay"></img>
    </div>
      <h3 class="time-display" style="height: 20vh;">0:00</h3>
      <div class="sound-picker">
        <button data-sound="/sounds/4.mp3" data-video="/videos/wind.mp4" style="background-color: rgba(255, 255, 255, 0.466);"><img src="/svg/ice-crystal.svg" alt=""></button>
        <button data-sound="/sounds/cricket.mp3" data-video="/videos/grass.mp4" style="background-color: rgba(255, 51, 0, 0.438)"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="50" height="50"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M48.2675,0c-0.44344,-0.01344 -0.84656,0.05375 -1.29,0.215c-1.77375,0.67188 -2.71437,2.63375 -2.0425,4.4075c0.18813,0.49719 3.61469,9.31219 12.7925,13.6525c0.9675,-2.15 2.0425,-4.1925 3.44,-6.02c-7.01437,-3.05031 -9.64812,-9.64812 -9.7825,-9.9975c-0.49719,-1.33031 -1.77375,-2.20375 -3.1175,-2.2575zM123.7325,0c-1.34375,0.05375 -2.60687,0.94063 -3.1175,2.2575c-0.13437,0.36281 -2.80844,7.095 -9.9975,10.105c1.42438,1.8275 2.63375,3.77594 3.655,5.9125c9.19125,-4.34031 12.60438,-13.15531 12.7925,-13.6525c0.67188,-1.77375 -0.26875,-3.73562 -2.0425,-4.4075c-0.44344,-0.17469 -0.84656,-0.22844 -1.29,-0.215zM86,6.88c-8.08937,0 -15.45312,3.99094 -19.8875,10.32h39.56c-4.59562,-6.32906 -11.87875,-10.32 -19.6725,-10.32zM9.9975,20.64c-1.34375,0.1075 -2.44562,1.00781 -2.9025,2.365c-0.60469,1.80063 0.34938,3.69531 2.15,4.3l19.4575,6.5575l4.085,6.88c1.10188,-2.795 2.31125,-5.29437 3.5475,-7.525l-2.4725,-3.9775c-0.41656,-0.69875 -1.04812,-1.24969 -1.8275,-1.505l-20.64,-6.88c-0.45687,-0.14781 -0.95406,-0.25531 -1.3975,-0.215zM162.0025,20.64c-0.44344,-0.04031 -0.94062,0.06719 -1.3975,0.215l-20.64,6.88c-0.77937,0.25531 -1.41094,0.80625 -1.8275,1.505l-2.6875,4.3c1.22281,2.24406 2.44563,4.8375 3.5475,7.6325l4.3,-7.31l19.4575,-6.5575c1.80063,-0.60469 2.75469,-2.49937 2.15,-4.3c-0.45687,-1.34375 -1.55875,-2.2575 -2.9025,-2.365zM60.7375,24.08c-0.63156,0.01344 -13.96156,0.79281 -22.575,22.36c1.35719,0.9675 2.55313,1.74688 3.3325,2.15c0.13438,0.06719 0.20156,0.13438 0.3225,0.215c0.05375,0.04031 10.19906,6.235 44.1825,6.235c33.91625,0 43.65844,-6.16781 43.7525,-6.235c1.14219,-0.67187 2.45906,-1.62594 3.7625,-2.58c-0.20156,-0.57781 -0.3225,-1.06156 -0.5375,-1.6125c-8.72094,-19.80687 -20.84156,-20.51906 -21.5,-20.5325zM137.7075,51.815c-1.89469,1.37063 -3.53406,2.40531 -4.1925,2.795c-0.645,0.47031 -7.24281,4.60906 -27.09,6.45c-1.12875,9.03 -8.17,16.24594 -17.0925,17.7375c0.01344,0.09406 0.1075,0.215 0.1075,0.3225v88.58c7.71313,-2.49937 31.04063,-11.51594 46.7625,-32.5725l4.945,17.2c0.16125,0.56438 0.44344,1.08844 0.86,1.505l17.2,17.2c0.67188,0.67188 1.58563,0.9675 2.4725,0.9675c0.88688,0 1.80063,-0.29562 2.4725,-0.9675c1.34375,-1.34375 1.34375,-3.60125 0,-4.945l-16.555,-16.555l-6.3425,-22.145c6.04688,-10.57531 10.105,-23.60969 10.105,-39.6675c0,-6.06031 -0.84656,-11.65031 -2.4725,-16.8775l10.105,4.085l6.3425,15.8025c0.5375,1.34375 1.86781,2.15 3.225,2.15c0.43,0 0.87344,-0.04031 1.29,-0.215c1.76031,-0.69875 2.63375,-2.75469 1.935,-4.515l-6.88,-17.2c-0.34937,-0.87344 -1.06156,-1.58562 -1.935,-1.935l-17.2,-6.88c-0.17469,-0.06719 -0.36281,-0.06719 -0.5375,-0.1075c-2.02906,-3.72219 -4.54187,-7.14875 -7.525,-10.2125zM34.185,52.03c-2.91594,3.03688 -5.32125,6.40969 -7.31,9.9975c-0.20156,0.04031 -0.44344,0.02688 -0.645,0.1075l-17.2,6.88c-0.87344,0.34938 -1.58562,1.06156 -1.935,1.935l-6.88,17.2c-0.69875,1.76031 0.17469,3.81625 1.935,4.515c0.41656,0.17469 0.86,0.215 1.29,0.215c1.35719,0 2.6875,-0.80625 3.225,-2.15l6.3425,-15.8025l10.105,-4.085c-1.6125,5.18688 -2.4725,10.81719 -2.4725,16.8775c0,16.00406 4.03125,29.09219 10.105,39.6675l-6.235,22.145l-16.6625,16.555c-1.34375,1.34375 -1.34375,3.60125 0,4.945c0.67188,0.67188 1.58563,0.9675 2.4725,0.9675c0.88688,0 1.80063,-0.29562 2.4725,-0.9675l17.2,-17.2c0.41656,-0.41656 0.69875,-0.94062 0.86,-1.505l4.945,-17.3075c15.72188,21.02969 39.06281,30.15375 46.7625,32.68v-88.58c0,-0.1075 0.09406,-0.215 0.1075,-0.3225c-8.9225,-1.49156 -15.95031,-8.7075 -17.0925,-17.7375c-18.8125,-1.73344 -25.94781,-5.52281 -27.4125,-6.45c-0.51062,-0.26875 -2.05594,-1.20937 -3.9775,-2.58zM51.6,79.12c7.60563,0 13.76,6.15438 13.76,13.76c0,7.60563 -6.15437,13.76 -13.76,13.76c-7.60562,0 -13.76,-6.15437 -13.76,-13.76c0,-7.60562 6.15438,-13.76 13.76,-13.76zM120.4,79.12c7.60563,0 13.76,6.15438 13.76,13.76c0,7.60563 -6.15437,13.76 -13.76,13.76c-7.60562,0 -13.76,-6.15437 -13.76,-13.76c0,-7.60562 6.15438,-13.76 13.76,-13.76zM61.92,127.28c5.6975,0 10.32,4.6225 10.32,10.32c0,5.6975 -4.6225,10.32 -10.32,10.32c-5.6975,0 -10.32,-4.6225 -10.32,-10.32c0,-5.6975 4.6225,-10.32 10.32,-10.32zM110.08,127.28c5.6975,0 10.32,4.6225 10.32,10.32c0,5.6975 -4.6225,10.32 -10.32,10.32c-5.6975,0 -10.32,-4.6225 -10.32,-10.32c0,-5.6975 4.6225,-10.32 10.32,-10.32z"></path></g></g></svg></button>
      </div>
    </div>
  </div>

  <script src="/js/med.js"></script>
</body>

</html>
