<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="/css/story.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<body>

  <!-- Nav Bar -->

       <nav class="navbar navbar-expand-lg navbar-bg-dark navbar-dark">
           <img class="logo-image" src="images/storyImages/logo-image.png" alt="Logo">
          <h3 class="logo-text"><u>BEWELL</u></h3>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav ml-auto">
             <li class="nav-item">
               <a class="nav-link" href="/">Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/game">Games</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/meditation">Meditation</a>
             </li>
           </ul>
         </div>
       </nav>


    <div>
<a class="text-center" style="color: white;font-family: cursive;margin-left: 35%;font-size: 40px;">BED TIME STORIES</a>
        <hr class="new4">
    </div>
    <div class="class1" style="margin-left: 12%;margin-top: 5%;">
        <div class="tohover card class2" style="width: 18rem;">
            <img class="card-img-top" src="images/storyImages/story1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center" style="color: white;">The Potato, The Egg, And The Coffee Beans</h5>
                <p class="card-text text-center" style="color: white;">A boy named John was upset. His father found him crying...
                </p>
                <input type="button" class="btn btn-primary text-center" onclick="textSpeak1()" value="Story Number 1"
                    style="margin-left: 15%;">
            </div>
        </div>
        <div class="card class2" style="width: 18rem;margin-left: 10%;">
            <img class="card-img-top" src="images/storyImages/story2.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center" style="color: white;">Two Frogs With The Same Problem</h5>
                <p class="card-text text-center" style="color: white;">Once, a group of frogs was roaming around the forest in
                    search of water...</p>
                <input type="button" class="btn btn-primary text-center" onclick="textSpeak2()" value="Story Number 2"
                    style="margin-left: 15%;">
            </div>
        </div>
        <div class="card class2" style="width: 18rem;margin-left: 10%;">
            <img class="card-img-top" src="images/storyImages/story3.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center" style="color: white;"> The Tortoise And The Hare</h5>
                <p class="card-text text-center" style="color: white;">This popular story is about a hare (an animal belonging to
                    the rabbit family)...</p>
                <input type="button" class="btn btn-primary text-center" onclick="textSpeak3()" value="Story Number 3"
                    style="margin-left: 20%;">
            </div>
        </div>
    </div>

    <div class="class1" style="margin-left: 12%;margin-top: 33%;">
        <div class="card class2" style="width: 18rem;">
            <img class="card-img-top" src="images/storyImages/story4.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center" style="color: white;">The Milkmaid And Her Pail</h5>
                <p class="card-text text-center" style="color: white;">There was once a milkmaid named Patty. <br />She milked her
                    cow and carried the two pails of milk ...
                </p>
                <input type="button" class="btn btn-primary text-center" onclick="textSpeak4()" value="Story Number 4"
                    style="margin-left: 15%;">
            </div>
        </div>
        <div class="card class2" style="width: 18rem;margin-left: 10%;">
            <img class="card-img-top" src="images/storyImages/story5.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center" style="color: white;">The Elephant Circus</h5>
                <p class="card-text text-center" style="color: white;">Once upon a time in a circus, five elephants that performed
                    circus tricks. They were kept tied up with ...</p>
                <input type="button" class="btn btn-primary text-center" onclick="textSpeak5()" value="Story Number 5"
                    style="margin-left: 20%;">
            </div>
        </div>
        <div class="card class2" style="width: 18rem;margin-left: 10%;">
            <img class="card-img-top" src="images/storyImages/story6.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center" style="color: white;">The Boy Who Cried, Wolf</h5>
                <p class="card-text text-center" style="color: white;">There was a young boy whose father, a farmer, had asked him
                    to take their herd of sheep grazing every day...</p>
                <input type="button" class="btn btn-primary text-center" onclick="textSpeak6()" value="Story Number 6"
                    style="margin-left: 20%;">
            </div>
        </div>
    </div>

</body>
<script src="js/story.js"></script>
</head>

</html>
